<div>
  <h2>Connections</h2>
  <h3>Available connections</h3>
  <ul>
    <li *ngFor="let profileLine of profiles; index as i">
      <span>
        {{ profileLine.firstName }}
        {{ profileLine.lastName }}
        <button nz-button nzType="secondary" (click)="onNewConnection(i)">
          Add this Connection
        </button>
      </span>
    </li>
  </ul>
  <div>
    <!-- <input
      nz-input
      placeholder="your connections"
      [(ngModel)]="newConnection"
      type="text"
    />
    <button nz-button nzType="primary" (click)="onNewConnection()">
      Add New Connection
    </button> -->
  </div>
  <h3>Currently connected</h3>
  <ul>
    <li *ngFor="let connectionLine of connection">
      {{ profiles[connectionLine].firstName }}
      {{ profiles[connectionLine].lastName }}
    </li>
  </ul>
</div>