<div nz-row [nzGutter]="16">
  <div nz-col [nzLg]="{ span: 4 }">
    <ul nz-menu nzMode="inline">
      <li *ngFor="let profile of profilesService.getProfiles()" nz-menu-item>
        <a [routerLink]="['/profiles', profile.id]">
          {{ profile.name }}
        </a>
        <!-- <a [routerLink="'/profile/' + profile.id">
          {{ profile.name }}
        </a> -->
      </li>
    </ul>
  </div>
  <div nz-col [nzLg]="{ span: 8 }">
    <!-- [editable]="loginService.getCurrentUser() == selectedProfile" -->
    <router-outlet></router-outlet>
  </div>
</div>
