<div>
  <h2>Experience</h2>
  <div *ngIf="editable">
    <nz-input-group nzCompact>
      <input
        #myLocalRef
        nz-input
        placeholder="your experience"
        [(ngModel)]="newExperience"
        type="text"
      />
      <button
        [disabled]="!newExperience"
        nz-button
        nzType="primary"
        (click)="onNewExperience()"
      >
        Add new
      </button>
    </nz-input-group>
  </div>
  <ul>
    <li *ngFor="let experienceLine of experience">
      {{ experienceLine }}
    </li>
  </ul>

  <h2>Github Repositories</h2>
  <ul>
    <li *ngFor="let repository of repositories">
      <a [href]="repository.url">{{ repository.name }}</a>
    </li>
  </ul>
</div>
