<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />

<router-outlet></router-outlet>

<p *ngIf="gameWon != ''">{{ gameWon }} WON!</p>
<p *ngIf="gameWon == ''">{{ whoTurn }}'s turn</p>

<p *ngIf="badMove">Illegal move, try again.</p>

<ul>
  <p *ngFor="let y of board; index as i">
    <span
      *ngFor="let x of y; index as j"
      (click)="onSetLocation(whoTurn, i, j)"
      style="cursor: pointer"
    >
      {{ x }}
    </span>
  </p>
  <button (click)="onStartOver()">Start over</button>
</ul>

<!-- <input [value]="firstProfileGet.firstName" />
<button (click)="onClick()">Change first name</button> -->
<!-- (click)="onConsoleLog([i, j])"> -->
