<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />

<router-outlet></router-outlet>

<div>
  <p>{{ firstProfile().firstName }}</p>
  <p>{{ firstProfileGet.firstName }}</p>
  <p>{{ profiles[1].firstName.toUpperCase() }}</p>
  <p>{{ profiles[2].firstName }}</p>
  <input [(ngModel)]="profiles[0].firstName" />
  <div [innerText]="firstProfileGet.firstName"></div>
  <button (click)="onClick()">change first name</button>
  <button [ngStyle]="{ color: 'red' }" (click)="onClick()">
    change first name
  </button>
  <button
    [ngClass]="{ danger: profiles[0].firstName == 'David' }"
    (click)="onClick()"
  >
    change first name
  </button>
</div>

<p *ngIf="gameWon != ''">{{ gameWon }} WON!</p>
<p *ngIf="gameWon == ''">{{ whoTurn }} 's turn</p>
<p *ngIf="badMove">Illegal move, try again.</p>

<ul>
  <p *ngFor="let y of board; index as i">
    <span
      *ngFor="let x of y; index as j"
      (click)="onSetLocation(whoTurn, i, j)"
      style="cursor: pointer"
    >
      {{ x }}
    </span>
  </p>
  <button (click)="onStartOver()">Start over</button>
</ul>

<!-- <input [value]="firstProfileGet.firstName" />
<button (click)="onClick()">Change first name</button> -->
<!-- (click)="onConsoleLog([i, j])"> -->

<app-tictactoe2></app-tictactoe2>
