<span nz-typography>
  <h6 nz-typography nzType="secondary">Experience</h6>
  <h5 nz-typography *ngFor="let experienceLine of experience">
    <i nz-icon nzType="minus" style="font-size: 16px"></i>
    {{ experienceLine }}
  </h5>
  <h6 nz-typography nzType="secondary">GitHub Repositories</h6>
  <h5 nz-typography *ngFor="let repository of repositories">
    <i nz-icon nzType="minus" style="font-size: 16px"></i>
    <a [href]="repository.url">{{ repository.name }}</a>
  </h5>
  <!--  <br />-->
  <!--      <section>-->
  <!--        <input-->
  <!--          type="text"-->
  <!--          nz-input-->
  <!--          placeholder="Add New Experience"-->
  <!--          [(ngModel)]="newExperience"-->
  <!--        />-->
  <!--        <button-->
  <!--          nz-button-->
  <!--          [disabled]="!newExperience"-->
  <!--          nzType="primary"-->
  <!--          (click)="onAddExperience()"-->
  <!--        >-->
  <!--          Add New Experience-->
  <!--        </button>-->
  <!--      </section>-->
</span>
