<ul>
  <li *ngFor="let profile of profilesService.getProfiles()">
    {{ profile.firstName }}
    {{ profile.lastName }}
    <span *ngIf="!isCurrentUser(profile.id)">
      <button
        *ngIf="!isConnected(profile.id)"
        (click)="
          profilesService.connect(profile.id, loginService.getCurrentUser())
        "
      >
        Connect
      </button>
      <button
        *ngIf="isConnected(profile.id)"
        (click)="
          profilesService.disconnect(profile.id, loginService.getCurrentUser())
        "
      >
        Disconnect
      </button>
    </span>
  </li>
</ul>
