<div>
  <h2>Experience</h2>
  <div *ngIf="editable">
    <form (ngSubmit)="onSubmit(experienceForm)" #experienceForm="ngForm">
      <nz-input-group nzCompact>
        <input
          #experience="ngModel"
          nz-input
          name="experience"
          placeholder="your experience"
          required
          minlength="4"
          [(ngModel)]="newExperience"
          type="text"
        />
        <div
          *ngIf="
            experienceForm.form.controls.experience.invalid &&
            (experience.dirty || experience.touched)
          "
          style="color: red"
        >
          You need to enter your experience.
        </div>
        <button
          [disabled]="experienceForm.invalid"
          nz-button
          nzType="primary"
          (click)="onNewExperience()"
        >
          Add new
        </button>
      </nz-input-group>
    </form>
  </div>
  <ul>
    <li *ngFor="let experienceLine of experience">
      {{ experienceLine }}
    </li>
  </ul>

  <h2>Github Repositories</h2>
  <ul>
    <li *ngFor="let repository of repositories">
      <a [href]="repository.url">{{ repository.name }}</a>
    </li>
  </ul>
</div>
