<router-outlet></router-outlet>

<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li (click)="changePage('profile')" nz-menu-item>Profiles</li>
      <li (click)="changePage('connections')" nz-menu-item>Connections</li>
    </ul>
  </nz-header>
  <nz-content>
    <div>
      <a nz-dropdown [nzDropdownMenu]="menu">
        {{ loginService.getCurrentProfile().name }}
        <i nz-icon nzType="down"></i>
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li
            *ngFor="let profile of profilesService.getProfiles()"
            (click)="loginService.setCurrentUser(profile.id)"
            nz-menu-item
          >
            {{ profile.name }} ({{ profile.id }} )
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        {{ loginService.getCurrentProfile().name }}
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ this.pageName | titlecase }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <app-profiles *ngIf="this.pageSelected == 'profile'"></app-profiles>
      <app-connections
        *ngIf="this.pageSelected == 'connections'"
      ></app-connections>
    </div>
  </nz-content>
  <nz-footer>Designed by Helm and Momoentum Crew</nz-footer>
</nz-layout>
